@use "../../styles/styles.scss" as *;

.listItem {
  @include flex-item($gap: 24px, $justify: initial);
  @include custom-border-bottom($bottom-l: 0, $bottom-r: 0);

  &:hover :last-child.listItem__delete {
    display: block;
  }

  & :is(&__item, &__delete):hover {
    cursor: pointer;
  }

  &__delete {
    display: none;
    justify-content: flex-end;
  }

  &__item {
    flex: 1;
  }

  .complete {
    color: var(--clr-completed-item);
    text-decoration: line-through;
  }

  .completeItem {
    position: relative;
    & :hover,
    & :focus {
      outline: none;
      @include border(
        $width: 1px,
        $style: solid,
        $color: var(--clr-check-background-purple),
        $radius: 50%
      );
    }

    &__checkMark {
      transform: scale(0);
      position: absolute;
      right: 7px;
      bottom: 7px;
      z-index: 1;
      pointer-events: none;
    }

    .showCheckMark {
      transform: scale(1);
    }
  }
}
