@use "../../styles/styles.scss" as *;

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.btn--completeItem {
  width: 1.86em;
  height: 1.86em;
  border: 1px solid var(--clr-borders);
  border-radius: 50%;
}

.btn--transparent {
  color: var(--clr-text-secondary);
  font-size: px-rem(14);
  line-height: 14px;

  &:focus {
    color: var(--clr-bright-blue);
  }
}

.showCompletedBackground {
  background: linear-gradient(
    130deg,
    var(--clr-check-background-blue) 0%,
    var(--clr-check-background-purple) 100%
  );
}
