@use "./functions" as *;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  // Primary
  --clr-bright-blue: hsl(220, 98%, 61%);
  --clr-check-background: linear-gradient hsl(192, 100%, 67%) to
    hsl(280, 87%, 65%);

  // Neutral Light Theme
  --clr-white: hsl(0, 0%, 100%);
  --clr-text-secondary: hsl(235, 9%, 61%);
  --clr-text-primary: hsl(235, 19%, 35%);
  --clr-item-bg: hsl(0, 0%, 100%);
  --clr-borders: hsl(236, 32%, 92%);
  --clr-body-bg: hsl(0, 0%, 98%);
  --clr-completed-item: hsl(233, 11%, 84%);
}

//Dark Theme
[data-theme="dark"] {
  --clr-text-secondary: hsl(234, 11%, 52%);
  --clr-text-primary: hsl(235, 39%, 85%);
  --clr-item-bg: hsl(235, 24%, 19%);
  --clr-borders: hsl(235, 14%, 26%);
  --clr-body-bg: hsl(235, 21%, 11%);
  --clr-completed-item: hsl(233, 14%, 35%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-image: url("../assets/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--clr-body-bg);
  font-family: "Josefin Sans", sans-serif;
  font-size: px-rem(18);
  font-weight: 400;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
}
