@mixin todo-item-styles() {
  background-color: var(--clr-item-bg);
  color: var(--clr-text-primary);
  font-size: px-rem(18);
  padding: 1.11em 1.33em;
  border-radius: var(--br-sm);
}

@mixin todo-input-styles() {
  width: inherit;
  letter-spacing: -0.25px;
  border: 1px solid var(--clr-borders);
  margin-bottom: 24px;
  &:focus {
    outline: none;
    box-shadow: 0 0 10px var(--clr-text-primary);
    transform: scale(1.02);
  }
}

@mixin grid-item($place, $gap-r, $gap-c) {
  display: grid;
  place-items: $place;
  grid-row-gap: $gap-r;
  grid-column-gap: $gap-c;
  @content;
}

@mixin flex-item($gap, $justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
  gap: $gap;
  @content;
}

@mixin border($width, $style, $color, $radius) {
  border: $width $style $color;
  border-radius: $radius;
  @content;
}

@mixin custom-border-top($radius, $top-l, $top-r) {
  border-radius: $radius;
  border-top-left-radius: $top-l;
  border-top-right-radius: $top-r;
  @content;
}

@mixin custom-border-bottom($bottom-l, $bottom-r) {
  border-top: 0;
  border-bottom: 1px solid var(--clr-borders);
  border-bottom-left-radius: $bottom-l;
  border-bottom-right-radius: $bottom-r;
  @content;
}
