@use "../../styles/globals.scss" as *;
@use "../../styles/styles.scss" as *;

.appBg {
  display: grid;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 300px;
  background-color: var(--clr-body-bg);
  min-height: 100vh;
  padding-top: 70px;

  .app {
    background-color: transparent;
    padding-inline: clamp(16px, 5vw, 24px);
    width: 82.5vw;
    max-width: 548px;

    & :is(header, main) {
      width: 100%;
    }

    header {
      @include flex-item($gap: 0, $justify: space-between);

      h1 {
        color: var(--clr-white);
        font-size: px-rem(40);
        letter-spacing: 15px;
        font-weight: 700;
      }
    }

    footer {
      color: var(--clr-text-secondary);
      font-size: px-rem(14);
      width: 179px;
      margin-top: 49px;
      margin-inline: auto;
    }
  }
}
