@use "../../styles/globals.scss" as *;
@use "../../styles/styles.scss" as *;

.appBg {
  background-image: url("../../assets/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  // Test Height
  background-size: 100% 300px;
  background-color: var(--clr-body-bg);
  min-height: 100vh;

  .app {
    background-color: transparent;
    @include grid-item($place: center, $gap-r: 40px, $gap-c: 0);
    max-width: 564px;
    padding-top: 70px;
    padding-inline: 24px;
    margin-inline: auto;

    & :is(header, main) {
      width: 100%;
    }

    header {
      @include flex-item($gap: 0, $justify: space-between);
      h1 {
        color: var(--clr-white);
        font-size: px-rem(40);
        letter-spacing: 15px;
        font-weight: 700;
      }
    }
  }
}
