@use "../../styles/styles.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-image: url("../../assets/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-size: px-rem(18);
  font-weight: 400;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img,
picture {
  height: auto;
  max-width: 100%;
}

.App {
  display: grid;
  place-items: center;
  margin-top: px-rem(70);
  margin-inline: auto;
  max-width: 564px;
  padding-inline: px-rem(24);
}
