@use "../../styles/styles.scss" as *;

.todo {
  width: inherit;

  & :is(.todo__input, .listItemContainer) {
    color: var(--clr-text-primary);
    font-size: px-rem(18);
    padding: 1.11em 0 1.11em 1.33em;
  }

  &__input {
    background-color: var(--clr-item-bg);
    letter-spacing: -0.25px;
    width: inherit;
    border: 1px solid var(--clr-borders);
    border-radius: var(--br-sm);
    margin-bottom: 24px;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px var(--clr-text-primary);
      transform: scale(1.02);
    }
  }

  .todoList {
    background-color: var(--clr-item-bg);
    border-radius: var(--br-sm);

    .listItemContainer {
      border-bottom: 1px solid var(--clr-borders);
      display: flex;
      align-items: center;
      gap: 24px;

      .item {
        &--complete {
          color: var(--clr-completed-item);
          text-decoration: line-through;
        }
      }

      .radio {
        position: relative;

        &__checkbox {
          -webkit-appearance: none;
          appearance: none;
          display: grid;
          place-content: center;
          background-color: var(--clr-item-bg);
          width: 1.86em;
          height: 1.86em;
          border: 1px solid var(--clr-borders);
          border-radius: 50%;
          cursor: pointer;
        }

        &__checkbox::before {
          content: "";
          width: 0.857em;
          height: 0.857em;
          border-radius: 50%;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
        }

        &__checkbox:checked::before {
          transform: scale(2.1);
        }

        &--showBackground {
          background: linear-gradient(
            to right,
            var(--clr-check-background-blue) 0%,
            var(--clr-check-background-purple) 100%
          );
          border: none;
        }

        &__checkMark {
          transform: scale(0);
          pointer-events: none;
          z-index: 1;
          position: absolute;
          bottom: 7px;
          right: 7px;

          &--showCheckMark {
            transform: scale(1);
          }
        }
      }
    }
  }
}
