@use "../../styles/styles.scss" as *;

.todo {
  width: inherit;

  & :is(.todo__input, .listItem, .listOptions) {
    background-color: var(--clr-item-bg);
    color: var(--clr-text-primary);
    font-size: px-rem(18);
    padding: 1.11em 1.33em;
  }

  & :is(.todo__input, .listItem) {
    border-radius: var(--br-sm);
  }

  &__input {
    @include todo-input-styles();
  }

  .todoList {
    box-shadow: 0px 35px 50px var(--clr-list-shadow);

    .listItem {
      @include flex-item($gap: 24px, $justify: initial);
      border-bottom: 1px solid var(--clr-borders);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &:hover :last-child.listItem__delete {
        display: block;
      }

      & :is(&__item, &__delete):hover {
        cursor: pointer;
      }

      &__delete {
        display: none;
        justify-content: flex-end;
      }

      &__item {
        flex: 1;
      }

      .complete {
        color: var(--clr-completed-item);
        text-decoration: line-through;
      }
    }
  }

  .completeItem {
    position: relative;
    & :hover,
    & :focus {
      outline: none;
      border: 1px solid var(--clr-check-background-purple);
    }

    &__checkMark {
      transform: scale(0);
      pointer-events: none;
      z-index: 1;
      position: absolute;
      bottom: 7px;
      right: 7px;
    }

    .showCheckMark {
      transform: scale(1);
    }
  }

  .listOptions {
    @include flex-item($gap: 0, $justify: space-between);
    box-shadow: 0px 35px 50px var(--clr-list-shadow);
    border-radius: var(--br-sm);
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .activeOptions {
      @include flex-item($gap: 18px, $justify: initial);
    }
  }
}
