@use "../../styles/styles.scss" as *;

.todo {
  width: inherit;

  & :is(.todo__input, .listItem, .listOptions, .mobileListOptions) {
    background-color: var(--clr-item-bg);
    color: var(--clr-text-primary);
    font-size: px-rem(18);
    padding: 1.11em 1.33em;
  }

  &__input {
    @include todo-input-styles();
    border-radius: var(--br-sm);
  }

  .todoList :first-child.listItem {
    @include custom-border-top(
      $radius: 0,
      $top-l: var(--br-sm),
      $top-r: var(--br-sm)
    );
  }
}
