@use "../../styles/styles.scss" as *;

.listOptions {
  @include flex-item($gap: 0, $justify: space-between);
  @include custom-border-top($radius: var(--br-sm), $top-l: 0, $top-r: 0);
  margin-bottom: 8px;
  box-shadow: 0px 35px 50px var(--clr-list-shadow);

  .itemsLeft {
    font-size: px-rem(14);
  }

  .activeOptions {
    @include flex-item($gap: 18px, $justify: initial);
    & button {
      font-weight: 700;

      &:hover {
        color: var(--clr-text-primary);
      }
    }
  }
}

.mobileListOptions {
  @include flex-item($gap: 0, $justify: center);
  margin-top: 16px;
  box-shadow: 0px 35px 50px var(--clr-list-shadow);
  border-radius: var(--br-sm);

  .mobileActiveOptions {
    @include flex-item($gap: 18px, $justify: initial);
    & button {
      font-weight: 700;

      &:hover {
        color: var(--clr-text-primary);
      }
    }
  }
}
