@use "../../styles/styles.scss" as *;

.listOptions {
  @include flex-item($gap: 0, $justify: space-between);
  @include custom-border-top($radius: var(--br-sm), $top-l: 0, $top-r: 0);
  margin-bottom: 8px;

  .itemsLeft {
    font-size: px-rem(14);
  }

  .activeOptions {
    @include flex-item($gap: 18px, $justify: initial);
    & button {
      font-weight: 700;

      &:hover {
        color: var(--clr-text-primary);
      }
    }

    & :last-child {
      font-weight: 400;
      margin-left: 38px;
    }
  }
}
